
<div  class="container-fluid col-md-10 col-md-offset-1" >
    <div  class="col-md-8 col-md-offset-2" >
    <form class="form-inline"  name="myForm" ng-model="manageData"  ng-submit = 'myForm.$valid && submit()' novalidate>
    <table border="0"  class="table" id="container">
        <thead>    
            <tr>
                <th></th>  
                <th>
                    <h3>
                        AddInfo
                    </h3>
                </th>
                <th></th>  
                <th></th>  
             </tr>
        </thead>    
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <label>Date:</label>
                    </td>
                    <td>
                        <input type="date" ng-model="manageData.date" name="date" required>
                        <div ng-messages="myForm.date.$error" ng-show="myForm.$submitted" >
                            <div ng-message="required" class="ngMessages">This field is required</div>    
                        </div>   
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Person Name:</label>
                    </td>
                    <td>
                        <input type="text" ng-model="manageData.name" name="name"  class="form-control" placeholder="Enter Name" required ng-minlength=3 ng-maxlength=30>
                        <div ng-messages="myForm.name.$error" ng-show="myForm.$submitted">
                            <div ng-message="required" class="ngMessages">This field is required</div>
                            <div ng-message="minlength" class="ngMessages">Message must be over 3 characters</div>
                            <div ng-message="maxlength" class="ngMessages">Message must not exceed 30 characters</div>
                        </div>
                    </td>  
                    <td> </td>
                    <td></td>
                </tr>
                <th></th>
                <th>
                    <h4>Income</h4>
                </th>
                <th></th>
                <th></th>
                <tr>
                    <td>
                        <label>Salary:</label>
                    </td>
                    <td> 
                        <input type="number" name="salary" ng-model="manageData.salary" class="form-control" placeholder="Enter SalaryInc." required>
                        <div ng-messages="myForm.salary.$error" ng-show="myForm.$submitted" >
                            <div ng-message="required" class="ngMessages">This field is required</div>    
                        </div>            
                    </td>
                    <td>
                        <label>Rent:</label>
                    </td>
                    <td>
                        <input type="number" ng-model="manageData.rent" name="rent" class="form-control" placeholder="Enter RentInc." required>
                        <div ng-messages="myForm.rent.$error" ng-show="myForm.$submitted">
                            <div ng-message="required" class="ngMessages">This field is required</div>
                        </div>    
                    </td> 
                </tr>
                <tr>
                    <td>
                        <label for="saving">Saving:</label>
                    </td>
                    <td>
                        <input type="number" ng-model="manageData.saving" name="saving" class="form-control" placeholder="Enter SavingInc." required>
                        <div ng-messages="myForm.saving.$error" ng-show="myForm.$submitted">
                            <div ng-message="required" class="ngMessages">This field is required</div>    
                        </div>      
                    </td> 
                    <td></td>
                    <td></td>    
                </tr>
                <th></th>
                <th>
                    <h4>Expenses</h4>
                </th>
                <th></th>
                <th></th>
                <tr>
                    <td>
                        <label for="petrol"> Petrol:</label>
                    </td>
                    <td>
                        <input type="number" ng-model="manageData.petrol" name="petrol" class="form-control" placeholder="Enter PetrolExp." required>
                        <div ng-messages="myForm.petrol.$error" ng-show="myForm.$submitted">
                            <div ng-message="required" class="ngMessages">This field is required</div>    
                        </div>      
                    </td>
                    <td>
                        <label>Medical:</label>
                    </td>
                    <td>
                        <input type="number" ng-model="manageData.medical" name="medical" class="form-control" placeholder="Enter MedicalExp." required>
                        <div ng-messages="myForm.medical.$error" ng-show="myForm.$submitted" >
                            <div ng-message="required" class="ngMessages">This field is required</div>    
                        </div>      
                    </td>     
                </tr>
                <tr>
                    <td>
                    <label for="food">Food:</label>
                    </td>
                    <td>
                        <input type="number" ng-model="manageData.food" name="food" class="form-control" placeholder="Enter FoodExp." required>
                        <div ng-messages="myForm.food.$error" ng-show="myForm.$submitted">
                            <div ng-message="required" class="ngMessages">This field is required</div>    
                        </div>      
                    </td>
                    <td></td>
                    <td></td>    
                </tr>
                <tr>
                    <td></td>
                    <td class="nav nav-pills ">
                        <button  class="active btn btn"  type="submit"><i class="fa fa-plus-circle"></i> Submit</button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
    </table>
    </form>
</div>
</div>