
<div>
    <form class="form-inline"  name="myForm" ng-model="manageData"  ng-submit = submit() novalidate>
        <table border="0" style="min-width:300px" class="table borderless" ng-show="isUpdate">
            
            
                <tr  class="form-group">
                    <td>
                        <label for="name">Person Name:</label>
                    </td>
                    <td>
                        <input type="text" ng-model="manageData.name" name="name"  class="form-control" placeholder="Enter Name" required ng-minlength=3 ng-maxlength=30>
                        <div ng-messages="myForm.name.$error">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="minlength">Message must be over 3 characters</div>
                        <div ng-message="maxlength">Message must not exceed 30 characters</div>
                        </div>
                    </td>  
                     
                </tr>
                <th class="center"><h3>Income</h3></th>
                <th></th>
                <th class="center"><h3>Expenses</h3></th>
                <th></th>
                <tr>
                <td>
                <label for="salary"> Salary:</label>
                </td>
                <td>
                <input type="number" ng-model="manageData.salary" class="form-control" placeholder="Enter SalaryInc.">
                </td>
                <td>
                <label for="petrol"> Petrol:</label>
                </td>
                <td>
                <input type="number" ng-model="manageData.petrol" class="form-control" placeholder="Enter PetrolExp.">
                </td>
                </tr>
                <tr>
                <td>
                <label for="rent">Rent:</label>
                </td>
                <td>
                <input type="number" ng-model="manageData.rent" class="form-control" placeholder="Enter RentInc.">
                </td> 
                <td>
                <label for="medical">Medical:</label>
                </td>
                <td>
                <input type="number" ng-model="manageData.medical" class="form-control" placeholder="Enter MedicalExp.">
                </td> 
                </tr>
                <tr>
                <td>
                <label for="saving">Saving:</label>
                </td>
                <td>
                <input type="number" ng-model="manageData.saving" class="form-control" placeholder="Enter SavingInc.">
                </td> 
                <td>
                <label for="food">Food:</label>
                </td>
                <td>
                <input type="number" ng-model="manageData.food" class="form-control" placeholder="Enter FoodExp.">
                </td>
                </tr>
                <tr>
                <td>

                </td></br></br></br>
                <td class="nav nav-pills ">
                <button type="button"  class="active btn btn" ng-click='update()' >Update</button>            
                </td>
                </tr>
            
            </table>
        </form>
        </div>    
<div>
    <table border="0" style="min-width:300px" class="table table-striped">
        <thead>
            <tr class="success">
            <th>Person Name</th>
            <th>Petrol</th>   
            <th>Medical</th>     
            <th>Food</th> 
            <th>Total Amount</th>         
            <th></th>            
            </tr>
        </thead>
    <tbody >
            <tr ng-repeat="expense in Expenses">
            <td >
                {{::expense.name}}
            </td>

            <td > 
                {{::expense.petrol}}
            </td>

            <td >
                {{::expense.medical}}
            </td>

             <td >
                {{::expense.food}}


            <td >
                 {{expense.petrol + expense.medical + expense.food}}
            </td>    
                <td class="nav nav-pills "><button class="active btn btn"  ng-click='remove($index)'>Delete</button> 
            <button  class="active btn btn" ng-click='View($index)'>View</button></td>     
            </tr>

    </tbody>
    </table>
</div>